<h2>Login</h2>
{% csrf_token %}
{% for field in form %}
    <p>
    {{ field.label_tag }}<br>
    {{ field }}
    {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
    {% endif %}
    {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
{% endfor %}
<button id="login_btn">LogIn</button>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("#login_btn").click(function(){
        var data = {
                'username':$('#id_username').val(),
                'password':$('#id_password').val()
            }
        $.ajax( {
            url:'http://localhost:7000/login_api/',
            // dataType:JSON,
            type: 'POST',
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            data: data,
            success:function(data) {
                if(data.status == 200) {
                    localStorage.setItem('user_id',data['id'])
                    localStorage.setItem('access_token',data['access_token'])
                    localStorage.setItem('refresh_token',data['refresh_token'])
                    localStorage.setItem('token_type',data['token_type'])
                    localStorage.setItem('is_owner',data['is_owner'])
                    localStorage.setItem('username',data['username'])
                    localStorage.setItem('email',data['email'])
                    
                    console.log(data)

                    window.location.href = "/"
                } else {
                    alert(data.message)
                }
            }
        });
    })
    $("#id_created_by").parent('p').css('display','None')
});
    
</script>